
/* Inline media */

@import "inlineMedia.css";

/* Basic Body Structure */

:root {
	supported-color-schemes: dark;
}

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-wrap: break-word;
	word-break: break-word;
}

body {
	color: #cccccc;
	height: 100%;
 	z-index: 100;
	font-size: 12px;
	overflow: hidden;
	background-color: #222222;
	font-family: "FiraCode-Regular", "Fira Code Regular", "Fira Code";
}

#body {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	max-height: 100%;
	/* overflow: none is added here, even though it is already
	 declared by body {} because on OS X Mavericks, there is a
	 weird quirk that causes the horizontal slider to appear
	 even though we only ask for the vertical one. */
	overflow: none;
	overflow-y: auto;
	z-index: 100;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

/* Only factor in height of topic bar when selected == true
 because that is only time the topic is displayed according
 to the logic defined by baseLayout.css */
body[data-selected="true"][data-view-type="channel"] #body {
	max-height: calc(100% - 2.0em); /* height minus topic */
}

div.line {
	line-height: normal;
	padding: 1px 5px 0;
	clear: both;
	margin-top: -1px;
	border-width: 1px 0;
	border-style: solid;
	border-color: transparent;
}

.sender {
	cursor: pointer;
	font-weight: 700;
	white-space: pre-wrap;
}

.inlineSender {
	font-weight: 700;
}

.sender[data-member-type="myself"] {
	color: #fc913a;
}

body[dir="rtl"] .sender {
	display: inline-block;
}

/* Scrolling */

body[data-custom-scroller="true"]::-webkit-scrollbar {
	width: 17px;
}

body[data-custom-scroller="true"]::-webkit-scrollbar:horizontal {
	height: 0;
}

body[data-custom-scroller="true"]::-webkit-scrollbar-track {
	background: #393939;
	box-shadow: inset 1px 0px 0px 0px #4b4b4b;
}

body[data-custom-scroller="true"]::-webkit-scrollbar-thumb {
	background-color: #7c7c7c;
	border: 4px solid transparent;
	border-left: 5px solid transparent;
	border-radius: 20px;
	background-clip: content-box;
}

body[data-custom-scroller="true"]::-webkit-scrollbar-thumb:hover {
	background-color: #b0b0b0;
}

/* Loading Screen */

#loadingScreen {
	position: absolute;
	top: 45%;
	left: calc(50% - (320px / 2)); /* half of width + padding */
	width: 300px;
	font-size: 18px;
	background: #181818;
	border: 1px solid #333333;
	border-radius: 5px;
	padding: 5px 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

/* Time */

body[dir="ltr"] .time {
	white-space: nowrap;
}

body[dir="rtl"] .time {
	white-space: nowrap;
	padding-left: 0.4em;
	display: inline-block;
}

/* Encryption Lock */

.encryptionLock img {
	float: right;
	margin: 0;
	padding: 0;
	height: 11px;
	margin-top: 2px;
	padding-left: 10px;
}

/* Links */

a {
	color: #7d8991;
	border-color: #7d8991;
	text-decoration: none;
	border-bottom: dotted 1px;
}

a:hover {
	color: #fc913a;
	border-color: #fc913a;
}

/* Topic Bar */

#topicBar {
	top: 0;
	left: 0;
	right: 0;
	opacity: 0; /* Set by JavaScript */
	z-index: 400;
	color: #ffffff;
	background-color: #fc913a;
	position: fixed;
	padding: 3px 0.5em;
	border-bottom: 1px solid #222222;
	-webkit-transition: opacity 0.8s linear;
	-webkit-font-smoothing: subpixel-antialiased;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#topicBar a {
	color: #ffffff;
	border-color: #ffffff;
}
#topicBar a:hover {
	border-color: #222222;
}

/* Topic bar hover additions contributed with permission from the project:
	<https://github.com/hbang/Simplified-Light-Modifications> */

#topicBar:hover {
	color: #ffffff;
	overflow: visible;
	white-space: normal;
}

/* Remember Line */

#mark {
	clear: both;
	position: relative;
	z-index: 295;
	margin-top: .5em;
	margin-bottom: .5em;
	border-bottom: 1px dashed;
	border-color: #7d8991;
	-webkit-transition: 0.2s linear;
}

/* Message buffer loading animation */

.message_buffer_loading_indicator {
	text-align: center;
	height: 42px;
}

.message_buffer_loading_indicator span {
	font-family: Optima !important;
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 5px;
	line-height: 43px;
	color: #5a5a5a;
	-webkit-animation: ellipsis-period 1.5s infinite;
	animation: ellipsis-period 1.5s infinite;
}

.message_buffer_loading_indicator span:nth-child(1) {
	-webkit-animation-delay: 0.0s;
	animation-delay: 0.0s;
}

.message_buffer_loading_indicator span:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.message_buffer_loading_indicator span:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@keyframes ellipsis-period {
	0% { opacity: 0.2; }
	20% { opacity: 1.0; }
	100% { opacity: 0.2; }
}

/* Message buffer session indicator */

.date_indicator,
.session_indicator {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	position: sticky;
	z-index: 300;
	top: -1px;
	background-color: #222222;
	margin: .5em 0;
}

.date_indicator > hr,
.session_indicator > hr {
	background: #7d8991;
	border: 0;
	height: 1px;
	flex: 1;
	-webkit-flex: 1;
}

.date_indicator > span,
.session_indicator > span {
	margin: 0 1em;
	color: #f9d423;
}
.session_indicator > span {
	color: #fc913a;
}

.date_indicator + #mark,
.session_indicator + #mark {
	display: none;
}

/* NOTICE/CTCP/WALLOPS */

div.line[data-line-type="ctcp"],
div.line[data-line-type="notice"],
div.line[data-line-type="wallops"] {
	color: #cf433e;
  	z-index: 191;
  	position: relative;
	border-color: #664e4d;
}

/* Selected User Messages */

div.line[data-line-type="privmsg"]:not(.selectedUser),
div.line[data-line-type="action"]:not(.selectedUser) {
	transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;
}

div.line[data-line-type="privmsg"] .time:not(.selectedUser),
div.line[data-line-type="action"] .time:not(.selectedUser) {
	transition: color 0.5s;
}

div.line.selectedUser[data-highlight="false"] .time {
	transition: color 0.5s ease-in;
	color: #f9d423;
}

div.line.selectedUser[data-highlight="false"] {
	transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;

  	z-index: 190;
  	position: relative;
	border-color: #fc913a !important;
	background-color: #1d1d1d !important;
}

/* PRIVMSG */

div.line[data-line-type="privmsg"][data-highlight="false"] {
	background-color: none;
}

div.line[data-line-type="privmsg"][data-highlight="true"],
div.line[data-line-type="action"][data-highlight="true"] {
  	z-index: 191;
  	position: relative;
	font-weight: normal;
	border-color: #f9d423;
	background-color: #1d1d1d !important;
}
div.line[data-line-type="privmsg"][data-highlight="true"] .time,
div.line[data-line-type="action"][data-highlight="true"] .time {
	color: #fc913a;
}

/* ACTION */

div.line[data-line-type="action"] {
	background-color: none;
}

div.line[data-line-type="action"] {
	color: #7d8991;
}

body[dir="ltr"] div.line[data-line-type="action"] .sender:before {
	content: "\2022";
	margin-right: 0.4em;
}

body[dir="ltr"] div.line[data-line-type="action"] .sender:after {
	content: "";
}

body[dir="rtl"] div.line[data-line-type="action"] .sender:before {
	content: "\2022";
	margin-left: 0.4em;
}

body[dir="rtl"] div.line[data-line-type="action"] .sender:after {
	content: "";
}

/* DEBUG/INVITE */

div.line[data-line-type="invite"],
div.line[data-line-type="debug"],
div.line[data-line-type="dcc-file-transfer"],
div.line[data-line-type="off-the-record-encryption-status"] {
	color: #555555;
  	z-index: 190;
  	position: relative;
	border-color: #555555;
}

div.line[data-line-type="debug"] {
	display: none;
}
div.line[data-line-type="debug"]:last-child {
	display: block;
}

/* off-the-record-encryption-status Message Event */
div.line[data-line-type="off-the-record-encryption-status"] .message {
	color: #cf433e;
	font-weight: 700;
}

/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */

div.line[data-command="372"],
div.line[data-command="721"] {
	border: none;
}

div.line[data-command="375"],
div.line[data-command="720"] { /* Start. */
	border-bottom: none;
}

div.line[data-command="376"],
div.line[data-command="722"] { /* End. */
	border-top: none;
}

div.line[data-command="372"] .message,
div.line[data-command="375"] .message,
div.line[data-command="376"] .message
div.line[data-command="720"] .message,
div.line[data-command="721"] .message,
div.line[data-command="722"] .message {
	font-family: "Menlo" !important;
}

/* GENERAL EVENT */

div.line[data-line-type="join"],
div.line[data-line-type="part"],
div.line[data-line-type="kick"],
div.line[data-line-type="quit"],
div.line[data-line-type="kill"],
div.line[data-line-type="nick"],
div.line[data-line-type="mode"],
div.line[data-line-type="topic"],
div.line[data-line-type="website"] {
	color: #555555;
}

body[dir="ltr"] div.line[data-line-type="join"] .message:before,
body[dir="rtl"] div.line[data-line-type="join"] .message:before {
	content: "→";
  	color: #fc913a;
}

body[dir="ltr"] div.line[data-line-type="kick"] .message:before,
body[dir="ltr"] div.line[data-line-type="part"] .message:before,
body[dir="ltr"] div.line[data-line-type="quit"] .message:before,
body[dir="rtl"] div.line[data-line-type="kick"] .message:before,
body[dir="rtl"] div.line[data-line-type="part"] .message:before,
body[dir="rtl"] div.line[data-line-type="quit"] .message:before {
	content: "←";
  	color: #cf433e;
}

body[dir="ltr"] div.line[data-line-type="nick"] .message:before,
body[dir="rtl"] div.line[data-line-type="nick"] .message:before {
	content:"•";
  	color: #f9d423;
}

/* Hide ZNC stuff that gets repeated on reconnect
 * 332 Topic
 * 333 Set by
 * 324 Mode
 */
div.line[data-command="332"],
div.line[data-command="333"],
div.line[data-command="324"] {
	display: none;
}